#dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
}

#port::-webkit-outer-spin-button,
#port::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#port {
    -moz-appearance: textfield;
}

.box {
    padding: 0.5em;
    width: 18em;
    height: 6em;
    margin: 0.5em;
    border-radius: 1em;
    position: relative;
    background-color: var(--card-background-color);
    border: 2px solid var(--color);
    color: var(--color);
    text-align: center;
}

.box h5 {
    margin: 0;
    color: inherit;
}

.box p {
    color: var(--color);
    font-size: 1em;
    margin-bottom: 0;
}

.box:hover {
    border: 2px solid;
    box-shadow: 0 0 12px;
}

.box:hover > .del-monitor-btn {
    display: block;
}

.box:hover > p {
    display: block;
}

.del-monitor-btn {
    all: unset;
    background-image: var(--icon-close);
    background-position: center;
    background-size: auto 1rem;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    display: none;
    float: right;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--primary);
    background-color: var(--card-background-color);
    top:-10px;
    right: -10px;
}

.up {
    color: var(--ins-color);
    border: 2px solid var(--ins-color);
}

.down {
    color: var(--del-color);
    border: 2px solid var(--del-color);
}