<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>It's Alive!</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">It's alive</a>
                </li>
            </ul>
            <ul>
                <li><button id="show-add-host">Add host</button></li>
                <li><button id="show-events">Events</button></li>
            </ul>
        </nav>

        <div id="dashboard">

        </div><!--dashboard-->

        <dialog id="add-host-modal">
            <article>
                <header>
                    <a href="#" class="close" id="close-add-host"></a>
                    Add host
                </header>

                <form id="add-host-form">
                    <label for="fname">Friendly name:</label>
                    <input type="text" id="add-host-fname" name="fname" placeholder="Insert friendly name" required>
                    <label for="hostname">Hostname:</label>
                    <input type="text" id="add-host-hostname" name="hostname" placeholder="Insert hostname" required>
                    <button type="submit">Add</button>
                </form>
            </article>
         
        </dialog>

        <dialog id="show-events-modal">
            <article>
                <header>
                    <a href="#" class="close" id="close-show-events"></a>
                    Events
                </header>
                
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Created</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </article>
        </dialog>
        
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>