<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>It's Alive!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">It's alive!</a>
                </li>
            </ul>
            <ul>
                <li><button id="show-add-monitor">Add monitor</button></li>
                <li><button id="show-events-btn">Events</button></li>
            </ul>
        </nav>

        <div id="dashboard">

        </div>

        <dialog id="add-monitor-modal">
            <article>
                <header>
                    <a href="#" class="close" id="close-add-monitor"></a>
                    Add monitor
                </header>

                <form id="add-monitor-form">
                    <label for="fname">Friendly name:</label>
                    <input type="text" id="add-monitor-fname" name="fname" placeholder="Insert friendly name" required>
                    <label for="hostname">Hostname:</label>
                    <input type="text" id="add-monitor-hostname" name="hostname" placeholder="Insert hostname" pattern="{{ hostname_re }}" required>
                    <label for="ctype">Type</label>
                    <select id="ctype" named="ctype" form="add-monitor-form" required>
                        <option value="ping">Ping</option>
                        <option value="tcp">TCP</option>
                    </select>
                    <fieldset id="port-data-field">
                        <label for="port">Port</label>
                        <input type="number" name="port" placeholder="Insert TCP port" id="port" min="0" max="65535">
                    </fieldset>
                    <button type="submit">Add</button>
                </form>
            </article>
         
        </dialog>

        <dialog id="show-events-modal">
            <article>
                <header>
                    <a href="#" class="close" id="close-show-events"></a>
                    Events
                </header>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Created</th>
                            <th scope="col">Monitor</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </article>
        </dialog>
        
        <dialog id="disconnected-modal">
            Server connection lost. Reconnecting...
        </dialog>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>