<!DOCTYPE html>
<html>
    <head>
        <title>It's Alive!</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="container-fluid">
            <ul>
                <li>
                    <a href=#>It's alive</a>
                </li>
            </ul>
            <ul>
                <li><a href="#add-host" id="add-host-btn" role="button">Add host</a></li>
                <li><a href="#events" id="open-events-btn" role="button">Events</a></li>
            </ul>
        </nav>

        <div id="dashboard">

        </div><!--dashboard-->

        <dialog id="add-host-modal">
            <article>
                <header>
                    <a href="#close" class="close" id="add-host-modal-close-btn"></a>
                    Add host
                </header>

                <form id="add-host-form">
                    <label for="friendly-name">Friendly name:</label>
                    <input type="text" id="friendly-name" name="friendly-name" placeholder="Insert friendly name" required>
                    <label for="hostname">Hostname:</label>
                    <input type="text" id="hostname" name="hostname" placeholder="Insert hostname" required>
                    <button type="submit">Add</button>
                </form>
            </article>
         
        </dialog>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>